/* probably put files in separate folders for good practice. idk if worth though gonna have only 1 of each type most likely. */

/* new/old stuff incoming */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  /* font-family: 'Roboto', 'Ubuntu', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  /* color: #5E6164; */
  color: white;
  /* font-color: white; */
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  /* font-family: 'Russo One', sans-serif; */

  font-family: 'Roboto', 'Russo One', sans-serif;
  /* color: #23293B; */
  color: white;
}
h1 {
  font-size: 4rem;
  font-weight: bold;

  position: relative;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.1rem;
  /* font-weight: lighter; */

  position: relative;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  /* color: #5E6164; */
  color: white;
  font-size: 1.6rem;
}
.container {
  /* max-width: 800px; */
  /* width: 100%; */
  /* height: 1500px; */
  /* change this height later */

  position: relative;
  text-align: center;
  color: white;
  margin: 0 auto;

  /* border: 1px solid red; */
}

.navbar {
  display: flex;
  justify-content: center;


  position: absolute;
  top: 5%;
  /* bottom: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  /* border: 1px solid purple; */

}

.nav-links {
  display: flex;
  justify-content: space-between;
  /* this width works for now but adjust later to make compatible with different screen sizes  */
  width: 800px;
  /* border: 1px solid red; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* i forget what should be hard coded and what should be fluid aka %, review */
  width: 300px;
  height: 50px;

  /* border: 1px solid red; */
}

nav a {
  /* -webkit-transition: filter .5s ease; /* Safari */
  /* transition: filter .5s ease; */
  -webkit-transition: color .5s ease; /* Safari */
  /* need mozilla filter as well? */
  transition: color .5s ease;
}

nav a:hover {
  /* filter: invert(50%); */
  /* color: turquoise; */
  color: #1ccea2;
}

.jumbotron {
  /* position: relative;
  text-align: center;
  color: white; */

  /* border: 1px solid purple; */
}

.jumbo-items {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 1px solid green; */
}

.headline {
  padding: 13px;

  text-shadow: 2px 2px 5px black;


  /* border: 1px solid red; */
}

.tagline {
  padding: 0 13px 13px;

    /* border: 1px solid red; */

  text-shadow: 1px 1px 5px black;
}

.jumbo-img {
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
  /* opacity: 10%; */

  width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: .3;
    filter: alpha(opacity=30);
    /* display: none; */

}


.jumbo-vid {
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0px; */
}

.pro-pic {
  width: 190px;
  border-radius: 50%;
  position: relative;
  /* border: 3px solid #1ccea2; */
}

.github-icon {
  width: 40px;
  /* color: red; */
  border-radius: 50%;
  /* object-fit: contain; */
  position: relative;
  /* opacity: 0; */

  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  padding: 7px;
  background-color: white;
  /* border: 1px solid red; */

  /* shadow: 2px 2px 5px black; */
}

.github-icon:hover {
  /* pretty good now but i think slightly off. it keeps "hardening" at the last moment. o i think it's because there's a slight white outline around the original image right now */
  filter: invert(100%);
}



/* animations */

/* The animation code */
@keyframes fade {
  /* from {background-color: red;} */
  /* to {background-color: yellow;} */
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fade {
  /* from {background-color: red;} */
  /* to {background-color: yellow;} */
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-light {
  /* from {background-color: red;} */
  /* to {background-color: yellow;} */
  from {opacity: 0;}
  to {opacity: .3;}
}

@-webkit-keyframes fade-light {
  /* from {background-color: red;} */
  /* to {background-color: yellow;} */
  from {opacity: 0;}
  to {opacity: .3;}
}


@keyframes slide {
  from {top: 100px;}
  to {top: 0;}
}

/* @-webkit-keyframes slide {
  from {position: relative; top: 100%}
  to {position: relative; top: 50%}

} */

/* The element to apply the animation to */
h1, h3, .github-icon, .pro-pic {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: red; */
  /* animation-name: fade;
  animation-duration: 2s; */
  animation: slide 1s ease, fade 1s ease;
  -webkit-animation: slide 1s ease, fade 1s ease;
  /* animation-delay: 5s initial; */
  /* animation: slide 2s; */
  /* -webkit-animation: slide 2s; */

}

/* h1, h3, .github-icon, .pro-pic {

  animation: fade 2s;
  -webkit-animation: fade 2s; */
/* } */

.jumbo-vid {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: red; */
  /* animation-name: fade;
  animation-duration: 2s; */
   animation: fade 5s;
  -webkit-animation: fade 5s;
}

.jumbo-img {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: red; */
  /* animation-name: fade;
  animation-duration: 2s; */
  /* animation: fade-img 5s;
  -webkit-animation: fade-img 5s; */
}

/* h1, h3, .github-icon, .pro-pic {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: red; */
  /* animation-name: slide; */
  /* animation-duration: 2s; */
/* } */
